$color-primary:#fff;
$text-primary:#ddd;
$heading-color:#fff;
$icons-color:#ed1b24;
$background-color:#1a1a1a;

@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap);

// =======Text Size========

$large-size:3.125rem;
$medium-size:2.5rem;
$medium-1:1.875rem;
$medium-2:1.5625rem;
$medium-3:1.25rem;
$medium-4:1.125rem;
$comon-size:1rem;
$small-size:.9375rem;

// =========Display Property========

$display:none;
$display-1:block;
$display-2:inline-block;
$display-3:flex;
$display-4:table-cell;
$display-5:inline-flex;

// =========Padding========

$padding-1:.3125rem;
$padding-2:.625rem;
$padding-3:.9375rem;
$padding-4:1.25rem;
$padding-5:1.875rem;
$padding-6:2.5rem;
$padding-7:3.125rem;

$padding-left-1:.3125rem;
$padding-left-2:.625rem;
$padding-left-3:.9375rem;
$padding-left-4:1.25rem;
$padding-left-5:1.5625rem;

$padding-right-1:.3125rem;
$padding-right-2:.625rem;
$padding-tright-3:.9375rem;
$padding-right-4:1.25rem;
$padding-right-5:1.5625rem;

$padding-bottom-1:.3125rem;
$padding-bottom-2:.625rem;
$padding-bottom-3:.9375rem;
$padding-bottom-4:1.25rem;
$padding-bottom-5:1.5625rem;

$padding-top-1:.3125rem;
$padding-top-2:.625rem;
$padding-top-3:.9375rem;
$padding-top-4:1.25rem;
$padding-top-5:1.5625rem;

// =========Margin========

$margin-1:.3125rem;
$margin-2:.625rem;
$margin-3:.9375rem;
$margin-4:1.25rem;
$margin-5:1.875rem;
$margin-6:2.5rem;
$margin-7:3.125rem;

$margin-left-1:.3125rem;
$margin-left-2:.625rem;
$margin-left-3:.9375rem;
$margin-left-4:1.25rem;
$margin-left-5:1.5625rem;

$margin-right-1:.3125rem;
$margin-right-2:.625rem;
$margin-tright-3:.9375rem;
$margin-right-4:1.25rem;
$margin-right-5:1.5625rem;

$margin-bottom-1:.3125rem;
$margin-bottom-2:.625rem;
$margin-bottom-3:.9375rem;
$margin-bottom-4:1.25rem;
$margin-bottom-5:1.5625rem;

$margin-top-1:.3125rem;
$margin-top-2:.625rem;
$margin-top-3:.9375rem;
$margin-top-4:1.25rem;
$margin-top-5:1.5625rem;

// =========Position========

$position-1:relative;
$position-2:absolute;
$position-3:fixed;
$position-4:sticky;
$position-5:static;

@mixin shadow-1{
    border-radius:.3125rem;
}
